@page
@model AboutModel
@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@*learn more about Emmet (formerly known as Zen Coding)
	https://docs.emmet.io*@

<p>Use this area to provide additional information.</p>

