@page
@model AboutModel
@{
	ViewData["Title"] = "About";
	Layout = "_LayoutOther";
}
<article id="mainContent">
	<h1>About Roux Academy</h1>
	<p>We&rsquo;ve been providing fine art and design education for over 150 years. But age hasn&rsquo;t slowed us down. Roux strives to build on our prestigious history, developing courses and nurturing graduates that will shape the next 150 years. When you join Roux, you join a unique community at one of our four campuses, which reflect the subject areas studied there. You&rsquo;ll be surrounded by artists, designers, filmmakers, and writers with similar passions and interests. </p>
	<p>You'll find the supportive environment at Roux encourages collaboration and creates enthusiasm among our students. Our teachers help you develop and push your creative boundaries, while giving you the space and time to explore your subject area and to find your own style. Join Roux Academy and join a community that&rsquo;s dedicated to helping you reach your highest artistic and creative potential.</p>
	<h2>Our continuing mission</h2>
	<p>At Roux, our mission is to teach and inspire the next generation&rsquo;s artists to create work that changes the way people think, and hopefully, even the way they act. We believe art inspires compassion by providing audiences with an empathetic outlet. We believe art informs and can advertise important messages. We believe it is our duty to show artists how to best use their tools and best communicate their message across. <strong>We exist to educate</strong>.</p>
	<h2>Map &amp; Directions</h2>
	<section class="address">
		<h3>Roux Academy</h3>
		<p>
			824 West 33rd Street<br>
			New York, New York 10001<br>
			212.555.4357
		</p>
	</section>
	<h2>Transportation</h2>
	<p>Public transportation is plentiful in New York, so students are encouraged to not own a vehicle while enrolled. Parking is not provided for students and can be a significant financial burden. If you are traveling from the Kennedy airport (JFK), you can take a cab or arrange for car service to take you to Roux beforehand, for a fee of $40-$60. The <a href="http://www.panynj.gov/airports/jfk-airtrain.html" title="Air Train" target="_blank">AirTrain JFK</a> service connects to the Howard Beach subway station, where you can take the A train into Manhattan and exit on the 34th Street stop. The one-way cost is $8.75.</p>
</article>
